

.register-card {
    border: none;
    border-radius: 10px;
    padding: 40px 30px;
    background-color: #ffffff;
}

.register-card .text-center {
    color: #002552;
}

.register-card .btn-primary {
    background-color: #002552;
    border-color: #002552;
}

.register-card .btn-primary:hover {
    background-color: #004080;
    border-color: #004080;
}

.register-card .form-group {
    margin-bottom: 1.5rem;
}

.register-card .form-control {
    padding: 10px;
    font-size: 1rem;
}
